<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="vue.js"></script>
    <style>
      .red {
        color: red;
      }
      .blue {
        color: blue;
      }
      .green {
        color: green;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <input type="text" @input="changeTitle" />
      <p v-once>{{title}}</p>
      <p>{{ sayHello() }} - <a :href="link">Google</a></p>
      <p>Without render prevention - {{ title }}</p>
      <hr />
      <button @click="increase(2, $event)">Click</button>
      <button @click="counter++">Increase</button>
      <button @click="counter--">Decrease</button>
      <button @click="secondCounter++">Inc second</button>
      {{ counter }} | {{ secondCounter }} Result : {{ result() }} | {{ output }}
      <p>{{ counter > 10 ? "Greater than 10" : "Smaller than 10" }}</p>
      <p @mousemove="updateCoordinates">
        Coordinates: {{x}} / {{y}} - <span @mousemove.stop>Dead Spot</span>
      </p>
      <hr />
      <p v-html="finishedLink"></p>
      <hr />
      <input type="text" @keyup.enter.space="alertMe" />
      <hr />
      <input type="text" v-model="name" />
      {{ name }}
      <p @click="red = !red" :class="addClasses">css class</p>
      <input type="text" v-model="color" />
      <input type="text" v-model="fontSize" />
      <p :class="[color, {red}]">input class</p>
      <p :style="[myStyle, {'font-weight': 'bold'}]">input style</p>
    </div>
    <script src="index.js"></script>
  </body>
</html>
